* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

}
nav{
  float: left;
  z-index: 2;
  display: block;
  position: fixed;
  width: 100vw;
  height: 100px;
}

nav a{
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  font-weight: 400;
  color: black;
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 50px;
  border: 2px solid black;
  padding: 8px;
  text-align: center;
}


h1 {
  font-family: 'Space Mono', monospace;
  font-size: 4em;
  color: red;
  position: absolute;
  top:80%;
  left:50%;
  transform: translate(-50%, -50%);
  margin-bottom: ;


}

#scarpa1 {
width: 100vw;
height: 100vh;
background-color: yellow;
position: relative;
}
#scarpa2 {
width: 100vw;
height: 100vh;
background-color: red;
position: relative;
}
#scarpa3 {
width: 100vw;
height: 100vh;
background-color: dodgerblue;
position: relative;
}

img {
  width: 40%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin-bottom: 30px;
}

.scarpa:nth-of-type(2)>h1 {
  color: white;
}

.scarpa:nth-of-type(3)>h1 {
  color: yellow;
}
